__pycache__
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/
OpenCapData_ab7eb7cf-817d-4035-a30b-ee68773906cb/*
*DS_Store

.vscode/*

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*